 #d1{
    border: 5px solid black;
    width: 300px;
    height: 100px;
    font-size: 50px;
    background-color: aqua;
    padding: 20px;
    margin: 20px;
 }

 #d1 span{
    background: linear-gradient(90deg,rgb(3, 3, 157), rgb(37, 37, 240), rgb(129, 129, 240));
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: black 1px;
 }

 #d2{
    border: 5px solid red;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    font-size: 50px;
    background-color: rgb(219, 125, 10);
    margin-left: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px 1px black;
 }