body{
    background-color: blue;
}

#box{
    background-color: aliceblue;
    width: 380px;
    height: 420px;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    margin: 50px auto;
}
#heading{
    text-align: left;
}

.formField {
  width: 360px;         
  margin-top: 15px;
  text-align: left;
}

.formField input {
  width: 100%;      
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

.formField input:focus {
  border-bottom: 2px solid #3762f0;
}


#terms {
    margin-top: 10px ;
  font-size: small;
  text-align: left;
}
#register
{
    border-radius: 10px;
    border: none;
    background-color: blue;
    width: 350px;
    height: 40px;
    margin-top: 15px;
    color: white;
    margin-bottom: 10px;
}


#account{
    font-size: x-small;
}
#logIn{
    color: blue;
    font-size: x-small;
}
