body{
    background-color: blue;
}

#box{
    background-color: white;
    width: 300px;
    height: 280px;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    margin: 50px auto;
}
#heading{
    text-align: left;
}

.formField input{
  width: 100%;      
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

.formField input:focus{
    border-bottom: 2px solid blue;
}

#login
{
    border: none;
    border-radius: 10px;
    background-color: blue;
    width: 300px;
    height: 40px;
    color: white;
    cursor: pointer;
}

#remember {
  font-size: x-small;
  text-align: left;
  margin-top: 2px;
}

#forgot {
  margin-left: 130px;
  font-size: x-small;
  color: blue;
  cursor: pointer;
}

#signUp{
    color: blue;
    font-size: x-small;
    cursor: pointer;
}

#account{
    font-size: x-small;
}
